body {
    background-color: #293744;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /* overflow: hidden; */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: auto;
}

.search {
    margin-top: 40px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 12px 20px 12px 5px;
    border: 1px solid #ddd;
}

#card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.card {
    /* position: absolute;
    left: 100px; */
    display: inline-block;
    background-color: white;
    margin: 10px;
    padding: 20px;
    width: 200px;
    height: 150px;
    border-radius: 5px;
}

.card-img-container {
    background-color: #1d2934;
}

#nav {
    margin: 0;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    background-color: #1d2934;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
}

#nav a {
    padding: 8px 8px 8px 15px;
    text-decoration: none;
    font-size: 25px;
    color: #ffcc01;
    display: block;
    transition: 0.3s;
}

#nav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 200px;
}

.card-pokemon-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-pokemon-id {
    background-color: #2575bb;
    font-size: 24px;
    border-radius: 5px;
}

.card-pokemon-name {
    font-style: normal;

}

.card {
    cursor: pointer;
}

.acerca-de {
    /* color: #ffcc11; */
    color: white;
}

@media screen {
    
}
