<html>
    <body>
        <h1>Hola Dream Team</h1>
        <img src="/static/pokeball.png" width="400" height="400">
        <br>
        <span>Lista de pokemon: </span>
        <table>
            <tr>
                <th>ID</th>
                <th>Mote</th>
                <th>Sexo</th>
                <th>Nivel</th>
                <th>Factor Random</th>
            </tr>
            {% for i in datos %}
                <tr>
                    <td>{{ i.id }}</td>
                    <td>{{ i.mote }}</td>
                    <td>{{ i.sexop }}</td>
                    <td>{{ i.nivel }}</td>
                    <td>{{ i.factor_random }}</td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>