<!DOCTYPE html>
<html>

<head>
    <title>Pokedex</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="/static/js/main.js"></script>
</head>

<body>
    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <img>
            <p class="name"></p>
            <p class="description"></p>
            <p class="height"></p>
            <p class="weight"></p>
            <p class="elemental"></p>
        </div>
    </div>

    <div class="nav">

    </div>
    <div class="main">
        <img id="logo" src="/static/img/logo.png">
        <input id="search" type="text" placeholder="Buscar pokemon" onkeyup="search_pokemon()">
        <div id="card-grid"></div>
    </div>
</body>

</html>