<!DOCTYPE html>
<html>

<head>
    <title>Pokedex</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="/static/js/main.js"></script>
</head>

<body>
    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <img>
            <p class="name"></p>
            <p class="description"></p>
            <p class="height"></p>
            <p class="weight"></p>
            <p class="elemental"></p>
        </div>
    </div>

    <div id="nav">
        <!-- <a href="{{ url_for('acerca_de') }}">Acerca de</a> -->
        <a href="#" onclick="change_view('pokedex')">Pokedex</a>
        <a href="#" onclick="change_view('pokemon')">Lista Pokemon</a>
        <a href="#">Movimientos</a>
        <a href="http://plop.inf.udec.cl/phppgadmin/">Plop</a>
        <a onclick="change_view('acerca-de')" href="#">Acerca de</a>
    </div>
    <div class="main">
        <div class="pokedex">
            <img id="logo" src="/static/img/logo.png">
            <input id="search" type="text" placeholder="Buscar pokemon" onkeyup="search_pokemon()">
            <div id="card-grid"></div>
        </div>
        <div class="acerca-de" style="display: none;">
            <h1>Integrantes</h1>
            <p>Vicente Cser</p>
            <p>Sebastian Cordova</p>
            <p>Giorgio Riffo</p>
            <p>Vicente Rodriguez</p>
        </div>
        <div class="pokemon" style="display: none;">
            <input id="search" type="text" placeholder="Buscar pokemon" onkeyup="search_pokemon()">
            <div id="pokemon-grid"></div>
        </div>
    </div>
</body>

</html>